body {
  background-color: black;
  background-size: contain;

  margin: 0;
  padding: 0;

  overflow: hidden;
  color: white;
  text-align: center;
}

#projection img {
  padding-bottom: 100%;
}

a {
  color: #00B7FF;
}

.hide {

  position: absolute;

  top:7000;

}
